server:
  port: 8083

spring:
  application:
    name: APPOINTMENT-SERVICE
  datasource:
    url: jdbc:mysql://localhost:3306/appointmentdb
    username: root
    password: 25051999
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/hms-realm

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
    healthcheck:
      enabled: true
